* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../img/fondos/fondo02.jpg");
    position: relative;
    padding-bottom: 5em;
    min-height: 100vh;
}